<li>
  <%= logo %>
  <%= link_to survey_question_category.title, edit_survey_question_category_path( survey_question_category ) %>
   | <%= link_to "delete", survey_question_category_path( survey_question_category ), :method => :delete %>
</li>
