<h1>Add Survey Question Set</h1>

<%= form_for @survey_question_set, :remote => true do |f| %>
  <%= render 'fields', :f => f %>

  <div class = "actions">
    <%= f.submit "Create Question Set" %>
  </div>

<% end %>