<li>
	<%= link_to survey_question_set.title, edit_survey_question_set_path( survey_question_set ) %>
	 | <%= link_to "delete", survey_question_set_path( survey_question_set ), :method => :delete %>
</li>
